.ShopPage {
  position: relative;
  &__grid {
    display: grid;
    grid-template-columns:
      [full-start]1fr [center-start]repeat(8, minmax(min-content, 15rem))
      [center-end] 1fr[full-end];
  }
  &__shoe-grid {
    grid-column: center-start/center-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    grid-gap: 5rem;
    justify-content: center;
  }
  .RecentlyAdded {
    top: 1rem;
    right: 5rem;
  }
}

.time {
  animation: openDropdown 7500ms;
}
