.ShopPage {
  &__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 0rem 20rem;
  }
  &__shoe-grid {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 3rem;
  }
}
