@import "../../styles/abstracts/_mixins.scss";

.HomePage {
  background-image: url("../../images/kristian-egelund-wmdcUQ0CJ4c-unsplash-2.jpg");
  background-size: cover;
  height: 100vh;
  padding: 3rem 8rem;
  display: grid;
  grid-template-columns: minmax(min-content, max-content);
  grid-template-rows: minmax(15rem, min-content) min-content min-content;
  grid-row-gap: 2rem;
  align-items: center;
  justify-items: start;
  line-height: 1.4;
  @include respondMax(900px) {
    background-image: url("../../images/background-image2.jpg");
  }
  @include respondMax(530px) {
    grid-template-rows: 25rem min-content min-content;
  }
  @include respondMax(400px) {
    padding: 2rem 5rem;
  }
  &__heading-logo {
    height: 20vh;
    align-self: start;
    padding: 1.5rem;
    border-radius: 2rem;
    @include respondMax(900px) {
      background-color: white;
    }
    @include respondMax(530px) {
      height: auto;
    }
    @include respondMax(400px) {
      background-color: transparent;
    }
  }
  .heading-logo--sub {
    @include respondMax(400px) {
      display: none;
    }
  }
  .text-button {
    @include respondMax(530px) {
      font-weight: 500;
    }
  }
  &__cart {
    grid-row: 2/3;
  }
}
