.HomePage {
  background-image: url("../../images/kristian-egelund-wmdcUQ0CJ4c-unsplash-2.jpg");
  background-size: cover;
  height: 100vh;
  padding: 3rem 8rem;
  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: min-content min-content min-content;
  grid-row-gap: 1rem;
  align-items: center;
  justify-items: start;
  &__heading-logo {
    height: 20vh;
  }
  &__shop {
  }
  &__cart {
    grid-row: 2/3;
  }
}
