@import "../../styles/abstracts/_mixins.scss";

.CartCheckout {
  background-color: var(--secondary-blue);
  padding: 2rem;
  height: 25rem;
  margin-top: 10rem;
  display: grid;
  width: 70%;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 2rem;
  @include respondMax(850px) {
    margin-top: 0rem;
  }
  &__text {
    font-size: 2.4rem;
    color: white;
    font-weight: 300;
  }
  &__price {
    justify-self: end;
  }
  &__checkout-button {
    grid-column: 1/3;
  }
  &__paypal-button {
    grid-column: 1/3;
  }
}
