.shopping-bag {
  position: relative;
  cursor: pointer;
  &__icon {
    width: 7rem;
    height: 7rem;
  }
  &__bubble {
    position: absolute;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    background-color: var(--secondary-blue);
    color: white;
    top: -1rem;
    left: -1.5rem;
    box-shadow: -1rem 1rem 2rem var(--primary-blue);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__amount {
    position: relative;
    left: -0.1rem;
    font-size: 1.9rem;
    font-weight: 500;
  }
}
