.CartItem {
  display: grid;
  grid-template-columns: 20rem repeat(auto-fit, minmax(min-content, 15rem));
  padding-bottom: 1rem;
  margin-left: 7rem;
  border-bottom: 1px solid var(--secondary-blue);
  grid-column-gap: 3em;
  grid-auto-rows: auto;
  &__image {
    max-width: 100%;
    max-height: 12rem;
    transform: scale(1.5);
    grid-column: 1/2;
    grid-row: 1/4;
    justify-self: center;
  }
  &__header {
    grid-column: 2/-1;
  }
  &__action-group {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-column-gap: 1rem;
    &--quantity {
      grid-column: 2 / span 1;
    }
    &--size {
      grid-column: 3 / span 1;
    }
  }
  &__text {
    font-size: 2rem;
    &--price {
      grid-column: 2/4;
    }
  }
}
