:root {
  --primary-blue: #effbfd;
  --secondary-blue: #015662;
  --white: white;
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-size: 5rem;
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;

  background-image: url("../../images/kristian-egelund-wmdcUQ0CJ4c-unsplash-2.jpg");
  background-size: 100%;
  background-size: cover;
  height: 100vh;
}
