:root {
  --primary-blue: #effbfd;
  --secondary-blue: #015662;
  --white: white;
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
}
