@import "../../styles/abstracts/_mixins";

.heading-logo {
  font-weight: 200;
  line-height: 1.3;
  color: var(--secondary-blue);
  &--main {
    font-size: 5rem;
    display: block;
    line-height: 1.2;
  }
  &--sub {
    font-size: 2rem;
    font-weight: 300;
    display: block;
    @include respondMax(530px) {
      display: none;
    }
  }
}

.text {
  &--small {
    font-size: 2rem;
    @include respondMax(900px) {
      font-size: 1.8rem;
    }
  }
  &--large {
    font-size: 3rem;
    @include respondMax(500px) {
      font-size: 2.5rem;
    }
  }
  &--blue {
    color: var(--secondary-blue);
  }
  &--grey {
    color: #c0c0c0;
  }
  &--red {
    color: red;
  }
}
.heading-4 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: capitalize;
  &--blue {
    color: var(--secondary-blue);
  }
}
.tertiary-heading {
  font-size: 3rem;
  text-transform: capitalize;
  color: var(--secondary-blue);
  font-weight: 200;
}

.large-heading {
  display: block;
  font-size: 6rem;
  font-weight: 200;
  color: var(--secondary-blue);
  letter-spacing: 0.7rem;
  @include respondMax(800px) {
    font-size: 5.5rem;
  }
  @include respondMax(800px) {
    font-size: 4.3rem;
  }
  @include respondMax(550px) {
    font-size: 3.5rem;
  }
  @include respondMax(500px) {
    font-size: 3rem;
  }
}
