.heading-logo {
  font-weight: 200;
  color: var(--secondary-blue);
  &--main {
    font-size: 5rem;
    display: block;
  }
  &--sub {
    font-size: 2rem;
    font-weight: 300;
    display: block;
  }
}

.text {
  color: var(--secondary-blue);
  font-size: 3rem;
  text-transform: capitalize;
}

.large-heading {
  display: block;
  font-size: 6rem;
  font-weight: 200;
  color: var(--secondary-blue);
  letter-spacing: 0.7rem;
}
